<!DOCTYPE html>
<html>

<body>
<h1>PycURL Documentation</h1>

<ul>
<li><a href="latest/">{{ version }} (latest release)</a></li>
<li><a href="dev/">dev (upcoming release)</a></li>
</ul>

</body>
</html>
